<!-- Page Header Section Start -->
<div class="page-header--section pd--70-0" data-bg-img="img/bg2@2x.jpg">
    <div class="container">
        <h1 class="title h1">{{ lang('order.title') }}</h1>
    </div>
</div>
<!-- Page Header Section End -->

<!-- Checkout Section Start -->
<div class="checkout--section pd--100-0-40">
    <div class="container">

        <!-- Order Start -->
        <div class="checkout--billing-info">
            <form id="addToCardForm" class="form" action="" method="post">
                {% if error %}
                    <!-- Alert Start -->
                    <div class="checkout--info checkout--info-error pbottom--30">
                        <div class="title">
                            <p><i class="fa fa-info-circle"></i> {{ error_message }}</p>
                        </div>
                    </div>
                    <!-- Alert End -->
                {% endif %}
                <div class="row">

                    <div class="col-md-6 pbottom--60">
                        <div class="checkout--order-info">
                            <div class="title">
                                <h2 class="h4">{{ lang('order.info') }}</h2>
                            </div>

                            <table class="table">
                                <tbody>
                                <tr>
                                    <th class="col-lg-3">{{ lang('order.package') }}</th>
                                    <td>{{ order.quantity }} {{ order.name }}</td>
                                </tr>
                                <tr>
                                    <th class="col-lg-3">{{ lang('order.price') }}</th>
                                    <td>{{ order.price|money }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="title">
                            <h2 class="h4">{{ lang('order.details') }}</h2>
                        </div>

                        <div class="row">
                            <div class="col-xs-12 col-xxs-12">
                                <div class="form-group">
                                    <label>
                                        <span>{{ lang('order.link') }} *</span>
                                        <input type="text"  name="AddToCartForm[link]" class="form-control" value="{{ order.form.link }}" required>
                                    </label>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-sm-6">
                        <a class="btn btn-default" href="{{ order.back_url }}">{{ lang('order.button.back_url') }}</a>
                    </div>
                    <div class="col-sm-6">
                        <button type="submit" id="addToCartButton" name="add-to-cart-button" class="btn btn-default active pull-right">{{ lang('order.button.add_to_cart') }}</button>
                    </div>
                    <input type="hidden" name="{{ csrfname }}" value="{{ csrftoken }}">

                </div>

            </form>
        </div>
        <!-- Order End -->
    </div>
</div>
<!-- Checkout Section End -->