{% if block.process %}
    <!-- Process Section Start -->
    <div class="services--section pd--100-0">
        <div class="container">
            <!-- Section Title Start -->
            <div class="section--title mbottom--60">
                <h2 class="h2">{{ block.process.header.title }}</h2>
                {% if block.process.header.description %}
                    <div class="section--description">
                        {{ block.process.header.description }}
                    </div>
                {% endif %}
            </div>
            <!-- Section Title End -->

            <div class="row AdjustRow">
                {% for process in block.process.data %}
                    <div class="{{ block.process.settings.bootstrap_column }} col-xs-6 col-xxs-12">
                        <!-- Service Item Start -->
                        <div class="service--item">
                            {% if block.process.settings.picture_type == 'image' %}
                           		<img src="{{ process.image }}" alt="" class="img-responsive">
                        	{% else %}
                                <div class="icon">
                                    <span class="{{ process.icon_class }}" style="font-size: {{ block.process.settings.icon_size }}px;"></span>
                                </div>
                            {% endif %}

                            <div class="title">
                                <h3 class="h4">{{ process.title }}</h3>
                            </div>

                            {% if block.process.settings.description %}
                                <div class="content">
                                    <p>{{ process.description }}</p>
                                </div>
                            {% endif %}
                        </div>
                        <!-- Service Item End -->
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
    <!-- Services Section End -->
{% endif %}