<div class="cart-page">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="cart-page__title {% if site.rtl %} rtl-direction {% endif %}">{{ lang('cart.title') }}</h1>
               	{% if error %}
                  <div class="row">
                    <div class="col-md-12">
                        <div class="alert alert-error {% if site.rtl %} rtl-direction {% endif %}">
                            <span class="fal fa-exclamation-triangle alert-icon"></span> {{ error_message }}
                        </div>
                    </div>
                  </div>
                {% endif %}
                <div class="cart-page__table">
                    <table class="table {% if site.rtl %} rtl-table {% endif %}">
                        <thead>
                        <tr>
                            <th>{{ lang('cart.package') }}</th>
                            <th>{{ lang('cart.details') }}</th>
                            <th>{{ lang('cart.quantity') }}</th>
                            <th>{{ lang('cart.price') }}</th>
                            <th class="text-center">{{ lang('cart.remove') }}</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% if cart.orders is empty %}
                            <tr>
                                <td colspan="5" data-title="{{ lang('cart.no_orders') }}">{{ lang('cart.no_orders') }}</td>
                            </tr>
                        {% else %}
                            {% for item in cart.orders %}
                                <tr>
                                    <td data-title="{{ lang('cart.package') }}">{{ item.name }}</td>
                                    <td data-title="{{ lang('cart.details') }}">{{ item.link }}</td>
                                    <td data-title="{{ lang('cart.quantity') }}">{{ item.quantity }}</td>
                                    <td data-title="{{ lang('cart.price') }}">{{ item.price|money }}</td>
                                    <td data-title="{{ lang('cart.remove') }}" class="text-center">
                                      <a href="/delete/{{ item.key }}"><i class="fal fa-trash-alt"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        {% endif %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {% if cart.orders %}
        <form class="form" method="POST" action="/cart">
            <div class="row">
                <div class="col-md-4 {% if site.rtl == '0' %} col-md-offset-8 {% endif %}">
                    <div class="cart-page__sub-block {% if site.rtl %} rtl-direction {% endif %}">
                        <div class="cart-page__subtitle">{{ lang('cart.total') }}</div>
                        <div class="cart-page__subcontent">
                            <table class="table table-bordered">
                                <tbody>
                                <tr>
                                    <th>{{ lang('cart.total_price') }}</th>
                                    <td>{{ cart.total_price|money }}</td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 {% if site.rtl == '0' %} col-md-offset-8 {% endif %}">
                    <div class="cart-page__sub-block {% if site.rtl %} rtl-direction {% endif %}">
                        <div class="cart-page__subtitle">{{ lang('cart.payment_method') }}</div>
                        <div class="cart-page__subcontent">
                            {% for payment in cart.payments %}
                                {% if cart.form.selected_method %}
                                    <label>
                                        <input type="radio" name="OrderForm[method]" {% if cart.form.selected_method == payment.id %} checked {% endif %} value="{{ payment.id }}">
                                        <span>{{ payment.method }}</span>
                                    </label>
                                {% else %}
                                    <label>
                                        <input type="radio" name="OrderForm[method]" {% if loop.first %} checked {% endif %} value="{{ payment.id }}">
                                        <span>{{ payment.method }}</span>
                                    </label>
                                {% endif %}
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4 {% if site.rtl == '0' %} col-md-offset-8 {% endif %}">
                    <div class="cart-page__sub-block {% if site.rtl %} rtl-direction {% endif %}">
                        <div class="cart-page__subtitle">{{ lang('cart.email') }}</div>
                        <div class="cart-page__subcontent">
                            <input type="email" name="OrderForm[email]" class="form-control" value="{{ cart.form.email }}" required>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row mt-3 {% if site.rtl %} rtl-col-md-6 {% endif %}">
                <div class="col-md-6 row-inline__buttons">
                    <a href="/" class="btn btn-default">{{ lang('cart.button.continue') }}</a>
                </div>
                <div class="col-md-6 text-md-right">
                    <button type="submit" class="btn btn-primary">{{ lang('cart.button.checkout') }}</button>
                    <input type="hidden" name="{{ csrfname }}" value="{{ csrftoken }}">
                </div>
            </div>
        </form>
        {% endif %}
    </div>
</div>