{% if block.slider %}
<div class="block-slider">
    <div class="container">
        <div class="block-slider__wrapper">

            {% for slide in block.slider.data %}
                <div class="block-slider__slide">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="block-slider__title">
                                {{ slide.title }}
                            </div>
                            {% if slide.description %}
                            <div class="block-slider__description">
                                {{ slide.description }}
                            </div>
                            {% endif %}
                            {% if slide.button %}
                            <div class="block-slider__button-block">
                                <a href="{{ slide.button.link }}" class="block-slider__button">{{ slide.button.title }}</a>
                            </div>
                            {% endif %}
                        </div>
                        <div class="col-md-8">
                                {% if slide.image  %}
                                    <div class="block-slider__image">
                                            <img src="{{ slide.image }}" alt="{{ slide.title }}" class="img-responsive">
                                    </div>
                                {% endif %}
                        </div>
                    </div>
                </div>
            {% endfor %}

        </div>
    </div>

</div>
{% endif %}