{% if block.process %}
<div class="block-process">
    <div class="block-shapes block-process-shape"></div>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h2 class="block-process__title">{{ block.process.header.title }}</h2>
                {% if block.process.header.description %}
                    <p class="block-process__description">
                        {{ block.process.header.description }}
                    </p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            {% for process in block.process.data %}
                <div class="{{ block.process.settings.bootstrap_column }}">
                    <div class="block-process__card">
                        <div class="block-process__card-image">
                            {% if block.process.settings.picture_type == 'image' %}
                                <img src="{{ process.image }}" alt="" class="img-responsive">
                            {% else %}
                                <span class="fa {{ process.icon_class }}" style="font-size: {{ block.process.settings.icon_size }}"></span>
                            {% endif %}
                        </div>
                        <div class="block-process__card-title">
                            {{ process.title }}
                        </div>
                        <div class="block-process__card-description">
                            {{ process.description }}
                        </div>
                    </div>
                </div>
            {% endfor %}
       </div>
    </div>
</div>
{% endif %}