<section class="min-height">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-title">{{ product.title }}</h1>
            </div>
        </div>
        {% if product.content %}
        <div class="row">
            <div class="col-md-12">
                <div class="content">
                    {{ product.content }}
                </div>
            </div>
        </div>
        {% endif %}
        <div class="row products">
            {% for package in product.packages %}
                <div class="col-lg-3">
                    <div class="product-card text-center" {% if product.color %} style="background-color: {{ product.color }}; border: 1px solid {{ product.color }};" {% endif %}>
                      	{% if package.best  %} <span class="product-card__best">{{ lang('product.best') }}</span> {% endif %}
                        <div class="product-quantity">{{ package.quantity }}</div>
                        <h3 class="product-title">{{ package.name }}</h3>
                        <div class="product-price">{{ package.price|money }}</div>
                        <div class="product-properties">
                            <ul>
                                {% for property in product.properties %}
                                    <li>{{ property }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                        <div class="product-actions">
                            <a href="{{ package.button.url_buy_now }}" class="btn btn-block btn-default">{{ lang('product.button.buy_now') }}</a>
                        </div>
                    </div>
                </div>
                {% if loop.index is divisible by(4) %}
                    <div class="clearfix"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</section>
