<!-- Page Header Section Start -->
<div class="page-header--section bg--color-theme pd--80-0">
    <div class="container">
        <div class="title">
            <h1 class="h1">{{ page.title }}</h1>
        </div>
    </div>
</div>
<!-- Page Header Section End -->

<!-- Contact Section Start -->
<div class="contact--section pd--100-0-40">
    <div class="container">
        <div class="row">
            <div class="col-md-6 {% if site.rtl %} rtl-direction {% endif %}">
                {{ page.content }}
            </div>
            <div class="col-md-6 pbottom--60">
                <!-- Contact Form Start -->
                <div class="contact--form">
                    <div class="title">
                        <h2 class="h2">{{ lang('contact.header') }}</h2>
                    </div>

                    <form action="" method="post" data-form="ajax">
                        {% if error %}
                            <div class="error-summary alert alert-danger {% if site.rtl %} rtl-direction {% endif %}">{{ error_message }}</div>
                        {% endif %}
                        {% if success %}
                            <div class="alert alert-success {% if site.rtl %} rtl-direction {% endif %}">{{ lang('contact.form.message.success') }}</div>
                        {% endif %}

                        <div class="row {% if site.rtl %} rtl-direction {% endif %}">

                            <div class="col-xs-12 col-xxs-12">
                                <div class="form-group">
                                    <label>
                                        <span>{{ lang('contact.subject') }} *</span>
                                        <input type="text" name="subject" class="form-control" value="{{ contact.form.subject }}" required>
                                    </label>
                                </div>
                            </div>

                            <div class="col-xs-6 col-xxs-12">
                                <div class="form-group">
                                    <label>
                                        <span>{{ lang('contact.name') }} *</span>
                                        <input type="text" name="name" class="form-control" value="{{ contact.form.name }}" required>
                                    </label>
                                </div>
                            </div>
                            <div class="col-xs-6 col-xxs-12">
                                <div class="form-group">
                                    <label>
                                        <span>{{ lang('contact.email') }} *</span>
                                        <input type="email" name="email" class="form-control" value="{{ contact.form.email }}" required>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                    <label>
                                        <span>{{ lang('contact.message') }} *</span>
                                        <textarea name="message" class="form-control" required>{{ contact.form.message }}</textarea>
                                    </label>
                                </div>
                            </div>
                            <div class="col-sm-12">
                                <div class="form-group">
                                  	<div class="g-recaptcha" data-sitekey="{{ captcha_key }}"></div>
                                </div>
                            </div>
                            <input type="hidden" name="{{ csrfname }}" value="{{ csrftoken }}">
                            <div class="col-sm-12">
                                <button type="submit" class="btn btn-block btn-default">{{ lang('contact.button.submit') }}</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- Contact Form End -->
            </div>
        </div>
    </div>
</div>
<!-- Contact Section End -->