<!-- Page Header Section Start -->
<div class="page-header--section bg--color-theme pd--80-0">
    <div class="container">
        <div class="title">
            <h1 class="h1">{{ product.title }}</h1>
        </div>
    </div>
</div>
<!-- Page Header Section End -->

<!-- Product Section Start -->
<div class="pricing--section pd--80-0 bg--overlay-95">
    <div class="container">
        {% if product.content %}
        <!--Description Block Start-->
        <div class="section--description">
            <p>{{ product.content }}</p>
        </div>
        <!--Description Block End-->
        {% endif %}

        <div class="row">
            {% for package in product.packages %}
                <div class="col-md-4 col-md-offset-0 col-xs-8 col-xs-offset-2 col-xxs-12">
                    <!-- Pricing Item Start -->
                    <div class="pricing--item {% if package.best %} best-product {% endif %}">
                        <div class="title">
                            <h2 class="h3">{{ package.name }}</h2>

                            <h3 class="h4">{{ package.price|money }} / {{ package.quantity }}</h3>
                        </div>

                        <div class="icon">

                        </div>

                        <div class="features">
                            <ul class="nav">
                                {% for property in product.properties %}
                                    <li><i class="fa fa-check"></i> {{ property }}</li>
                                {% endfor %}
                            </ul>
                        </div>

                        <div class="action">
                            <a href="{{ package.button.url_buy_now }}" class="btn btn-default">{{ lang('product.button.buy_now') }}</a>
                        </div>
                    </div>
                    <!-- Pricing Item End -->
                </div>

                {% if loop.index is divisible by(3) %}
                    <div class="clearfix"></div>
                {% endif %}
            {% endfor %}
        </div>
    </div>
</div>
<!-- Pricing Section End -->

{% if product.color %}
<style>
  .pricing--item .btn-default{
  	border-color: {{ product.color }};
  }
  .pricing--item .btn-default:before{
  	background-color: {{ product.color }};
  }
  .best-product:before{
  	background-color: {{ product.color }};
  }
  .pricing--item .features .nav li .fa{
  	color: {{ product.color }};
  }
  .pricing--item .icon:after{
  	background-color: {{ product.color }};
  }
  .pricing--item:hover .title:before, .pricing--item.active .title:before{
  	background-color: {{ product.color }};
  }
  .pricing--item:hover .icon:before, .pricing--item.active .icon:before{
  	background-color: {{ product.color }};
  }
</style>
{% endif %}