{% if block['process'] %}
<!-- Process Section Start -->
<div class="services--section pd--100-0">
    <div class="container">
        <!-- Section Title Start -->
        <div class="section--title mbottom--60">
            <h2 class="h2">{{ features['title'] }}</h2>
            {% if features['description'] %}
                <div class="section--description">
                    {{ features['description'] }}
                </div>
            {% endif %}
        </div>
        <!-- Section Title End -->

        <div class="row AdjustRow">
            {% for process in block['process'] %}
            <div class="col-md-{{ process['column'] }} col-xs-6 col-xxs-12">
                <!-- Service Item Start -->
                <div class="service--item {% if process['align'] == 'left' %} block left {% endif %}">
                    <div class="icon">
                        <span class="fa {{ process['icon'] }}" style="font-size: {{ process['iconSize'] }}px;"></span>
                    </div>

                    <div class="title">
                        <h3 class="h4">{{ process['title'] }}</h3>
                    </div>

                    {% if process['description'] %}
                    <div class="content">
                        <p>{{ process['description' }}</p>
                    </div>
                    {% endif %}
                </div>
                <!-- Service Item End -->
            </div>
            {% endfor %}
        </div>

    </div>
</div>
<!-- Services Section End -->
{% endif %}