{% if block.slider.data %}
    <!-- Slider Start -->
    <section class="bg-gray-light">
        <div class="container">
            <div class="slider">
                <div class="swiper-container main-slider">
                    <div class="swiper-wrapper">
                        {% for slide in block.slider.data %}
                            <div class="swiper-slide main-slide">
                                <div class="row">
                                    <div class="col-md-6">
                                        <div class="swiper-slide__image">
                                            {% if slide.image  %}
                                                <img src="{{ slide.image }}" alt="{{ slide.title }}" class="img-responsive">
                                            {% endif %}
                                        </div>
                                    </div>
                                    <div class="col-md-6 {% if site.rtl %} rtl-content {% endif %}">
                                        <h2>{{ slide.title }}</h2>
                                        {% if slide.description %}
                                            <p>{{ slide.description }}</p>
                                        {% endif %}
                                        {% if slide.button %}
                                            <a href="{{ slide.button.link }}" class="btn btn-default">{{ slide.button.title }}</a>
                                        {% endif %}
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                    </div>
                    <div class="swiper-pagination main-slider-pagination"></div>
                </div>
            </div>
        </div>
    </section>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var mainSlider = new Swiper('.main-slider', {
                paginationClickable: true,
                autoplay: {{ block.slider.settings.interval }},
                slidesPerView: 1,
                pagination: '.main-slider .main-slider-pagination',
                fade: { crossFade: true },
                effect: '{{ block.slider.settings.effect }}'
            });
        });
    </script>
    <!-- Slider End -->
{% endif %}