<html>
<head>
    <title>{{ page.title }}</title>
    <meta name="keywords" content="{{ page.meta.keywords }}">
    <meta name="description" content="{{ page.meta.description }}">
    <link rel="stylesheet" href="{{ assets('css/styles.css') }}">
    {% if site.favicon %}
        <link rel="shortcut icon" type="image/ico" href="{{ site.favicon }}" />
    {% endif %}
</head>
<body>
{% include('/snippets/header.twig') %}

{{ page_content }}

{% include('/snippets/footer.twig') %}

<script src="{{ assets('js/scripts.js') }}"></script>
</body>
</html>