{% if block.features %}
    <!-- Features block Start -->
    <section class="border-bottom">
        <div class="container">
            <div class="row section-header">
                <div class="col-lg-12">
                    <h2 class="text-center {% if site.rtl %} rtl-content {% endif %}">{{ block.features.header.title }}</h2>
                    {% if block.features.header.description %}
                        <div class="section-description {% if site.rtl %} rtl-content {% endif %}">
                            {{ block.features.header.description }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row section-content section-col__clearfix">
                {% for feature in block.features.data %}
                    <div class="{{ block.features.settings.bootstrap_column }}">
                        <div class="feature {% if block.features.settings.align == 'left' %} block-left {% endif %} {% if site.rtl %} rtl-content {% endif %}">
                            <div class="feature-body {% if block.features.settings.align == 'left' %} text-left {% else %} text-center {% endif %}">
                                <div class="icon">
                                    {% if block.features.settings.picture_type == 'image' %}
                                        <img src="{{ feature.image }}" alt="" class="img-responsive">
                                    {% else %}
                                        <div class="feature-icon">
                                            <span class="{{ feature.icon_class }}" style="font-size: {{ block.features.settings.icon_size }}px;"></span>
                                        </div>
                                    {% endif %}
                                </div>
                                <div class="title">
                                    <h3 class="feature-title">{{ feature.title }}</h3>
                                </div>
                                <div class="description">
                                    <div class="feature-text {% if site.rtl %} rtl-text {% endif %}">{{ feature.description }}</div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    <!-- Features block End -->
{% endif %}