<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.page_title }}</title>
    <meta name="keywords" content="{{ site.meta.keywords }}">
    <meta name="description" content="{{ site.meta.description }}">
    {% if site.favicon %}
        <link rel="shortcut icon" type="image/ico" href="{{ site.favicon }}" />
    {% endif %}
    <!-- CDN Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom styles -->
    <link rel="stylesheet" href="{{ asset('/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/owl.carousel.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/seocrack.css') }}">
</head>
<body>


<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Header Section Start -->
    <div class="header--section">
        <!-- Header Navbar Start -->
        <nav class="header--navbar navbar" data-trigger="sticky">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#headerNav" aria-expanded="false" aria-controls="headerNav">
                        <span class="sr-only">Toggle Navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                    <!-- Logo Start -->
                    <a href="/" class="navbar-brand">
                        {% if site.logo %}
                            <img src="{{ site.logo }}" alt="{{ site.store_name }}" class="img-responsive">
                        {% else %}
                            {{ site.store_name }}
                        {% endif %}
                    </a>
                    <!-- Logo End -->
                </div>


                <div id="headerNav" class="navbar-collapse collapse float--right">
                    <!-- Header Nav Links Start -->
                    <ul class="header--nav-links nav navbar-right">
                        <!-- User's menu -->
                        {% for menu_first_level in site.menu %}
                            {% if menu_first_level.submenu %}
                                <li class="dropdown {% if menu_first_level.active %}active{% endif %}">
                                    <a href="#" class="dropdown-toggle">{{ menu_first_level.name }} <span class="caret"></span></a>
                                    <ul class="dropdown-menu multi-level">
                                        {% for menu_second_level in menu_first_level.submenu %}
                                            {% if menu_second_level.submenu %}
                                                <li class="dropdown-submenu">
                                                    <a href="#" class="dropdown-toggle">{{ menu_second_level.name }}</a>
                                                    <ul class="dropdown-menu multi-level">
                                                        {% for menu_third_level in menu_second_level.submenu %}
                                                            <li>
                                                                <a href="{{ menu_third_level.link }}">{{ menu_third_level.name }}</a>
                                                            </li>
                                                        {% endfor %}
                                                    </ul>
                                                </li>
                                            {% else %}
                                                <li>
                                                    <a href="{{ menu_second_level.link }}">{{ menu_second_level.name }}</a>
                                                </li>
                                            {% endif %}
                                        {% endfor %}
                                    </ul>
                                </li>
                            {% else %}
                                <li class="{% if menu_first_level.active %}active{% endif %}">
                                    <a href="{{ menu_first_level.link }}">{{ menu_first_level.name }}</a>
                                </li>
                            {% endif %}
                        {% endfor %}
                        <!--/ User's menu -->

                        <li {% if site.active_menu %} class="active" {% endif %}><a href="/cart"><i class="fa fm fa-shopping-basket"></i>(<span>{{ site.cart.item_count }}</span>)</a></li>
                    </ul>
                    <!-- Header Nav Links End -->
                </div>
            </div>
        </nav>
        <!-- Header Navbar End -->
    </div>
    <!-- Header Section End -->

    <!--Templates page Start-->
    {{ content }}
    <!--Templates page End-->

    <!-- Footer Section Start -->
    <div class="footer--section">
        <!-- Footer Copyright Start -->
        <div class="footer--copyright">
            <div class="container">
                <p class="float--left">&copy; {{ site.store_name }} {{ "now"|date("Y") }}</p>

                <ul class="social nav float--right">
                    <li><a href="{{ page_url(3) }}">{{ lang('footer.terms') }}</a></li>
                    <li><a href="{{ page_url(2) }}">{{ lang('footer.policy') }}</a></li>
                    <li><a href="{{ page_url(1) }}">{{ lang('footer.contact') }}</a></li>
                </ul>
            </div>
        </div>
        <!-- Footer Copyright End -->
    </div>
    <!-- Footer Section End -->

    <!-- Back To Top Button Start -->
    <div class="back-to-top-btn">
        <a href="#" class="active"><i class="fa fa-chevron-up"></i></a>
    </div>
    <!-- Back To Top Button End -->
</div>
<!-- Wrapper End -->

<!-- CDN Scripts -->
<script src="https://www.google.com/recaptcha/api.js?hl=en"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Custom Scripts -->
<script src="{{ asset('/js/bootstrap.js') }}"></script>
<script src="{{ asset('/js/owl.carousel.js') }}"></script>
<script src="{{ asset('/js/main.js') }}"></script>
</body>
</html>