<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site['pageTitle'] }}</title>
    <meta name="keywords" content="{{ site['seo_key'] }}">
    <meta name="description" content="{{ site['seo_desc'] }}">
		{% if site['favicon'] %}
        <link rel="shortcut icon" type="image/ico" href="{{ site['favicon'] }}" />
		{% endif %}

		{% for style in site['styles'] %}
        <link rel="stylesheet" type="text/css" href="{{ style['href'] }}" {% if style['attributes'] %}{{ style['attributes'] }}{% endif %}>
		{% endfor %}
</head>
<body>
<nav class="navbar navbar-white">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <!--<img src="http://belwake.ru/wp-content/themes/flora/images/blog/placeholder.jpg" alt="" title="" class="img-responsive">-->
								{{ site['pageTitle'] }}
            </a>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">

                <!-- User's menu -->
                {% for menu_first_level in site['menu'] %}
                    {% if menu_first_level['submenu'] %}
                        <li class="dropdown {% if menu_first_level['active'] %}active{% endif %}">

                            <a href="{{ menu_first_level['link'] }}" class="dropdown-toggle disabled">{{ menu_first_level['name'] }} <span class="caret"></span></a>
                            <ul class="dropdown-menu multi-level">
                                {% for menu_second_level in menu_first_level['submenu'] %}
                                    {% if menu_second_level['submenu'] %}
                                        <li class="dropdown-submenu {% if menu_second_level['active'] %}active{% endif %}">
                                            <a href="{{ menu_second_level['link'] }}"
                                               class="dropdown-toggle disabled">{{ menu_second_level['name'] }}</a>
                                            <ul class="dropdown-menu multi-level">
                                                {% for menu_third_level in menu_second_level['submenu'] %}
                                                    <li{% if menu_third_level['active'] %} class="active"{% endif %}>
                                                        <a href="{{ menu_third_level['link'] }}">{{ menu_third_level['name'] }}</a>
                                                    </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                    {% else %}
                                        <li{% if menu_second_level['active'] %} class="active"{% endif %}>
                                            <a href="{{ menu_second_level['link'] }}">{{ menu_second_level['name'] }}</a>
                                        </li>
                                    {% endif %}
                                {% endfor %}
                            </ul>
                        </li>
                    {% else %}
                        <li{% if menu_first_level['active'] %} class="active"{% endif %}>
                            <a href="{{ menu_first_level['link'] }}">{{ menu_first_level['name'] }}</a>
                        </li>
                    {% endif %}
                {% endfor %}
                <!--/ User's menu -->

                <li><a href="/cart" class="bold">({{ site['cart_count'] }}) Cart</a></li>
            </ul>
        </div>
    </div>
</nav>

{{ content }}
<!-- Process block End -->
</body>
<!-- Footer block Start -->
<footer class="bg-white">
    <div class="footer-copy">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    &copy; 2017 site.ru All Rights Reserved.
                </div>
                <div class="col-md-8">
                    <ul class="footer-links">
                        <li><a href="/content">Terms of Service</a></li>
                        <li><a href="/content">Privacy Policy</a></li>
                        <li><a href="/contact">Contact Us</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    {{ site['custom_footer'] }}
</footer>
<!-- Footer block End -->

<!-- Google reCaptcha -->

{% for script in site['scripts'] %}
    <script type="text/javascript" {% if script['src'] %}src="{{ script['src'] }}"{% endif %} {% if script['attributes'] %}{{ script['attributes'] }}{% endif %}>
        {% if script['code'] %} {{ script['code'] }} {% endif %}
    </script>
{% endfor %}

</html>