{% if block['reviews'] %}
    <!-- Reviews block Start -->
    <section class="bg-gray-light border-bottom">
        <div class="container">
            <div class="row section-header">
                <div class="col-lg-12">
                    <h2 class="text-center">{{ reviews['block']['header']['title'] }}</h2>
										{% if reviews['block']['header']['description'] %}
                        <div class="section-description">
														{{ reviews['block']['header']['description'] }}
                        </div>
										{% endif %}
                </div>
            </div>
            <div class="row section-content">
                <div class="col-lg-12">
                    <div class="swiper-container text-center">
                        <div class="swiper-wrapper">
														{% for review for block['reviews']['data'] %}
                            <div class="swiper-slide">
                                <div class="review-avatar">
																		{% if review['image'] %}
                                        <div class="review-image img-circle" style="background-image: url('{{ review['image'] }}');"></div>
																		{% else %}
                                        <div class="review-image img-circle" style="background-image: url('http://www.breps.be/frontend/core/layout/images/default_author_avatar.gif');"></div>
																		{% endif %}
                                </div>
                                <div class="review-author">{{ review['name'] }}</div>
                                <div class="review-rating">
																		{% for i in 0..review['rating'] %}
                                        <span class="fa fa-star"></span>
																		{% endfor %}
                                </div>
																{% if review['description'] %}
                                    <div class="review-text">
																				{{ review['description'] }}
                                    </div>
																{% endif %}
                            </div>
                        </div>
                        <div class="swiper-pagination swiper-pagination__review"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        $(document).ready(function(){
            var reviewsSlider = new Swiper('.swiper-container', {
                pagination: '.swiper-pagination__review',
                paginationClickable: true,
                slidesPerView: {{ block['reviews']['settings']['column'] }}
            });
        });
    </script>
{% endif %}