{% if block.reviews %}
<!-- Reviews block Start -->
    <section class="bg-gray-light border-bottom">
        <div class="container">
            <div class="row section-header">
                <div class="col-lg-12">
                    <h2 class="text-center">{{ block.reviews.header.title }}</h2>
                    {% if block.reviews.header.description %}
                        <div class="section-description">
                            {{ block.reviews.header.description }}
                        </div>
                    {% endif %}
                </div>
            </div>
            <div class="row section-content">
                <div class="col-lg-12">
                    <div class="swiper-container text-center review-swiper-container">
                        <div class="swiper-wrapper">
                            {% for review in block.reviews.data %}
                                <div class="swiper-slide">
                                    <div class="review-avatar">
                                        <div class="review-image img-circle" style="background-image: url('{{ review.image }}');"></div>
                                    </div>
                                    <div class="review-author">{{ review.name }}</div>
                                    <div class="review-rating">
                                        {% for i in 0..4 %}
											{% if i < review.rating %}
                                                <span class="fa fa-star"></span>
                                            {% else %}
                                                <span class="fa fa-star-o"></span>
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                    {% if review.description %}
                                        <div class="review-text">
                                            {{ review.description }}
                                        </div>
                                    {% endif %}
                                </div>
							{% endfor %}
                        </div>
                        <div class="swiper-pagination swiper-pagination__review"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var reviewsSlider = new Swiper('.review-swiper-container', {
                pagination: '.review-swiper-container .swiper-pagination__review',
                paginationClickable: true,
                slidesPerView: {{  block.reviews.settings.column }},
               	breakpoints: {
                  768: {
                    slidesPerView: 1,
                  }
                }
            });
        });
    </script>
{% endif %}