<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site.page_title }}</title>
    {% if site.favicon %}
        <link rel="shortcut icon" type="image/ico" href="{{ site.favicon }}" />
    {% endif %}
    <!-- CDN Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Custom styles -->
    <link rel="stylesheet" href="{{ asset('/css/bootstrap.css') }}">
    <link rel="stylesheet" href="{{ asset('/css/seocrack.css') }}">
</head>
<body>


<!-- Wrapper Start -->
<div class="wrapper">
  <!-- 404 Section Start -->
  <div class="f0f--section pd--180-0-80">
      <div class="f0f--error pd--80-0">
          <div class="container">
              <p>{{ lang('404.title') }}</p>
          </div>
      </div>

      <div class="f0f--content">
          <div class="container">
              <div class="img">
                  <img src="/img/themes/seocrack/404.png" alt="Page 404">
              </div>

              <div class="title">
                  <h1 class="h1">{{ lang('404.title') }}</h1>
              </div>

              <div class="buttons">
                  <a href="/" class="btn btn-default"><i class="fa fa-home"></i>{{ lang('404.button.home_page') }}</a>
              </div>
          </div>
      </div>
  </div>
  <!-- 404 Section End -->
</div>
</body>
</html>