<!DOCTYPE html>
<html lang="{{ site['language'] }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{{ site['pageTitle'] }}</title>
    <meta name="keywords" content="{{ site['seo_key'] }}">
    <meta name="description" content="{{ site['seo_desc'] }}">
    {% if site['favicon'] %}
        <link rel="shortcut icon" type="image/ico" href="{{ site['favicon'] }}" />
    {% endif %}
    {{ head }}
</head>
<body>

<!-- Wrapper Start -->
<div class="wrapper">
    <!-- Header Section Start -->
    <div class="header--section">
        <!-- Header Topbar Start -->
        <div class="header--topbar">
            <div class="container">
                <!-- Logo Start -->
                <div class="header--logo float--left">
                    <a href="/">
                        {% if site['logo'] %}
                            <img src="{{ site['logo'] }}" alt="{{ site['name'] }}" title="{{ site['name'] }}" class="img-responsive">
                        {% else %}
                            {{ site['name'] }}
                        {% endif %}
                    </a>
                </div>
                <!-- Logo End -->

            </div>
        </div>
        <!-- Header Topbar End -->

        <!-- Header Navbar Start -->
        <nav class="header--navbar navbar" data-trigger="sticky">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#headerNav" aria-expanded="false" aria-controls="headerNav">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>

                <div id="headerNav" class="navbar-collapse collapse float--left">
                    <!-- Header Nav Links Start -->
                    <ul class="header--nav-links nav navbar-nav">
                        {% for menu in site['menu'] %}
                            <li{% if menu[ 'active'] %} class="active" {% endif %}><a href="{{ menu['link'] }}">{{ menu['name'] }}</a></li>
                        {% endfor %}
                    </ul>
                    <!-- Header Nav Links End -->
                </div>

                <!-- Header Buttons Start -->
                <div class="header--buttons float--right">
                    <a href="/cart"><i class="fa fa-shopping-basket"></i>(<span>{{ cart['count'] }}</span>)</a>
                </div>
                <!-- Header Buttons End -->
            </div>
        </nav>
        <!-- Header Navbar End -->
    </div>
    <!-- Header Section End -->

    <!-- Templates content Start -->
    {{ content }}
    <!-- Templates content End -->

    {% include '../snippets/footer.twig' %}
</div>
<!-- Wrapper End -->
{{ body }}
</body>
</html>